.header {
    background-color: #1b2023;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 40px;
    width: auto;
}

.header-content {
    max-width: 1200px;
    margin: auto;
}

.menu-item>.nav-link {
    color: #fff;
    font-weight: 500;
}

.menu-item>.nav-link:hover {
    color: #cacbcc;
}

.menu-item>.nav-link.active {
    color: #329d3d;
}